@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap");
body {
  font-family: "M PLUS Rounded 1c", sans-serif;
}

.header__menu {
  width: 100vw;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__menu .header__menu__button {
  width: 50px;
  height: 60px;
  border: none;
  background-color: transparent;
  margin-top: 25px;
  margin-right: 25px;
}

.header__menu .header__menu__button span {
  width: 100%;
  height: 2px;
  background-color: black;
  display: block;
}

.header__menu .header__menu__button span + span {
  margin-top: 10px;
}

.header__menu .header__menu__button::after {
  height: 20px;
  display: block;
  margin-top: 5px;
  content: "menu";
}

.header__menu .header__menu__button.open span {
  margin-top: 10px;
}

.header__menu .header__menu__button.open span:nth-child(1) {
  transform: translateY(5px) rotate(45deg);
}

.header__menu .header__menu__button.open span:nth-child(2) {
  display: none;
}

.header__menu .header__menu__button.open span:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
}

.header__menu .header__menu__button.open::after {
  height: 20px;
  display: block;
  margin-top: 10px;
  content: "close";
}

.sp-navi {
  display: none;
}

.sp-navi .sp-navi__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sp-navi .sp-navi__list .sp-navi__item {
  width: 240px;
  height: 30px;
  padding: 15px 0;
  line-height: 30px;
  text-align: center;
  border-bottom: 1px solid #ccc;
  animation: fadein 0.3s forwards;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.sp-navi .sp-navi__list .sp-navi__item:hover {
  color: #ccc;
}

.sp-navi.open {
  display: block;
}

.mv {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.mv .mv__logo {
  width: 200px;
  height: 100px;
  border: 1px solid black;
}

.catch {
  width: 100vw;
  height: 100vh;
  background-color: #b2cbe4;
}

.catch h2 {
  display: none;
}

.catch .catch__text {
  margin-left: 10%;
  margin-right: 20%;
  font-size: 18px;
  line-height: 45px;
}
