@import "stylesheets/_mediaquery.scss";
@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&display=swap");

@import "stylesheets/_header.scss";
@import "stylesheets/_mv.scss";
@import "stylesheets/_catch.scss";
@import "stylesheets/_detail.scss";
@import "stylesheets/_lineup.scss";
@import "stylesheets/_recipe.scss";
@import "stylesheets/_info.scss";
@import "stylesheets/_footer.scss";

body {
  font-family: "Kiwi Maru", serif;

  @include mediaquery() {
    padding-bottom: 120px;
  }
}

h2 {
  text-align: center;
  font-size: 28px;

  @include mediaquery() {
    font-size: 40px;
  }
}

section {
  width: 100vw;
  padding: 60px 0;
}

.section__button {
  display: block;
  width: 280px;
  height: 50px;
  margin: 60px auto 0 auto;
  font-size: 18px;
  font-family: "Kiwi Maru", serif;
  background-color: white;
}
