.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 300px;

  &__button--pagetop {
    margin: 20px 0 100px 0;
    color: #afa7a7;

    img {
      width: 20px;
      display: block;
      margin: 5px auto;
    }
  }

  &__logo {
    display: flex;
    justify-content: center;
    width: 80%;
    padding: 20px 0;
    border-bottom: 1px solid #afa7a7;

    img {
      width: 200px;

      @include mediaquery() {
        width: 300px;
      }
    }
  }

  &__text {
    padding: 20px 0;
    font-size: 12px;

    @include mediaquery() {
      font-size: 18px;
    }
  }
}
