.info {
  background-color: #e6eae6;
  padding: 60px 0;

  h2 {
    display: none;
  }

  &__flex-container {
    max-width: 1024px;
    margin-bottom: 40px;

    @include mediaquery() {
      display: flex;
    }

    .button {
      margin-top: 0;
    }

    .button + .button {
      margin-top: 20px;

      @include mediaquery() {
        margin-top: 0;
        margin-left: 20px;
      }
    }
  }

  @include mediaquery() {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
