.lineup {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__list {
    margin-top: 50px;

    @include mediaquery() {
      display: grid;
      place-items: center;
      grid-template-columns: 1fr 1fr;
      column-gap: 20px;
      margin-top: 60px;
    }
  }

  &__item {
    width: 200px;
    height: 200px;

    div {
      width: 200px;
      height: 180px;
      background-color: #cccccc;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__item + &__item {
    margin-top: 10px;

    @include mediaquery() {
      margin-top: 0;
    }
  }
}
