.mv {
  display: flex;
  justify-content: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  background-image: url("./img/mv-big.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &__logo {
    img {
      width: 250px;
      margin: 25px;

      // PCでは表示しない
      @include mediaquery() {
        display: none;
      }
    }
  }
}
